<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    
</head>
<body>
    <form method="POST">
       {% csrf_token %}
       <label for="firstName">FirstName :</label><br>
       <input type="text" name="firstName" id="firstName"><br>
       <label for="lastName">LastName :</label><br>
       <input type="text" name="lastName" id="lastName"><br>
       <label for="mobile">Mobile :</label><br>
        <input type="number" name="mobile" id="mobile"> <br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email"> <br>
        <label>Gender: </label>
        <input type="radio" name="gender" id="male" value="male"> <label for="male">Male</label>
        <input type="radio" name="gender" id="female" value="female"> <label for="female">Female</label>
        <br>
        <label for="dob">Date of Birth :</label><br>
        <input type="date" name="dob" id="dob"> <br>
       <label for="userName">UserName</label><br>
       <input type="text" name="userName" id="userName"><br>
       <label for="password">PassWord</label><br>
       <input type="password" name="password" id="password"><br><br>
       <button>Submit</button>
    </form>
    
</body>
</html>